{% extends "base.html" %}
{% block start %}
<div class="jumbotron"><center><h1>create your own short Urls</h1>
<a href='/create'><button class="btn btn-outline-info">create</button></a>

</center>
</div>
<div class="jumbtron"><center><h1>See all the urls</h1>
    <a href='/display'><button class="btn btn-outline-info">see</button></a>
    
    </center>
</div>

<div class="jumbtron"><center><h1>Go to original url</h1>
    <a href='/long'><button class="btn btn-outline-info">GO</button></a>
    
    </center>
</div>
    {% endblock  %}