{% extends "base.html" %}
{% block start %}
<div class="container mt-5" >
    <form class="col-6 mx-auto card p-3 shadow-lg " method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <h2>VISIT TO ORIGINAL URL</h2>
            <hr>
           </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">SHORT URL</label>
                <input type="text" class="form-control" name="URL" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              
              <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
      </div>
    </div>
    {% endblock  %}